<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Pronóstico</h4>
  <p>
  	El pronóstico se obtiene desde una API gratuita llamada 
  	<a href="http://www.myweather2.com">http://www.myweather2.com</a>. 
  	
  </p>
</div>